{% extends 'homeheader.html'%}
{% block content %}

<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
       
        <div class="container py-md-3">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                    Try <a href = "{{url_for('question')}}" > questionnaire </a>
                </div>
            {% endif %}
            {% endwith %}
            
            <div class="row cont-main-top">
                <div class="contacts12-main col-lg-8 mt-lg-0 mt-5">
                                
                    <form action="/imagecaptures" method="POST" class="main-input">
                        <!-- <div class="top-inputs d-grid"> -->
                
                        
                            <center><label>Capture Images:</label></center>
                            <div >
                                <button type="submit" class="btn btn-theme2">Capture and Recommend</button>
                            </div>
                            <!-- <center><input type="text" placeholder="Enter Your URL Here" name="file1" id="w3lName" required=""></center> -->
                         <!-- </div> -->
                        <!-- <textarea placeholder="Message" name="w3lMessage" id="w3lMessage" required=""></textarea> -->
                        <br>
                        <br>
                       

                       
                    </form>
                    <hr>
                    <form action="/uploadimage" method="post" class="main-input" enctype="multipart/form-data">
                        <!-- <div class="top-inputs d-grid"> -->
                
                        
                            <center><label>Upload a Photo:</label></center>
                            <div >
                                <input type="file" placeholder="Enter Your Email Address" name="email" id="w3lName" required="">
                                <br><br><br>
                                <button type="submit" class="btn btn-theme2">Upload and Recommend</button>
                            </div>
                            <!-- <center><input type="text" placeholder="Enter Your URL Here" name="file1" id="w3lName" required=""></center> -->
                         <!-- </div> -->
                        <!-- <textarea placeholder="Message" name="w3lMessage" id="w3lMessage" required=""></textarea> -->
                        <br>
                        <br>
                       

                       
                    </form>
                    <!-- <hr>
                    <form action="/video" method="post" class="main-input">
                        <!-- <div class="top-inputs d-grid"> -->
<!--                 
                        
                            <center><label>Detect:</label></center>
                            <div >
                           <button type="submit" class="btn btn-theme2"> Detect</button>
                            </div>
                            <!-- <center><input type="text" placeholder="Enter Your URL Here" name="file1" id="w3lName" required=""></center> -->
                         <!-- </div> -->
                        <!-- <textarea placeholder="Message" name="w3lMessage" id="w3lMessage" required=""></textarea> -->
                        <!-- <br>
                        <br> --> 
                       

                       
                    <!-- </form> --> 
                </div>
</section>

{% endblock %}